header {
    display: flex;
    column-gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #21222A;
    align-items: center;
}

nav {
    flex-grow: 1;
    font-weight: 600;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    flex-wrap: wrap;
    column-gap: 10px;
}

.nav-list>li:hover {
    color: #61DAFB;
    cursor: pointer;
}

header>div {
    font-weight: 600;
}

.img-logo {
    width: 60px;
}

.logo-title {
    color: #61DAFB;
}